body {
  background-color: cornsilk;
  background-image: url('../img/Science-bg1.png');
  background-attachment: fixed;

}


/*Everything inside this limit*/
#Wrap {
  margin: auto;
  width: 960px;
  margin: auto;
  overflow: auto;
}

#Heading {
  width: 960px;
  height: 120px;
  overflow: auto;
  background-color: #CCFFFF;
  top: 0px; /*Imp else gap on top of page*/
  position: fixed;
  text-align: center;
}

#FirstColLeft {
  float: left;
  width: 120px;
  height: 450px;
  margin-top: 120px;
  background-color: #BBFFD8;
  overflow: auto;

}

#FirstColMid {
  border: 3px solid #6AFFFF;
  float: left;
  width: 594px;/*600px; adjust for 3px border*/
  height: 194px;/*200px; adjust for 3px border*/
  margin-top: 120px;
  background-color: lightcyan;
}

#FirstColRight {
  border: 3px solid #6AFFFF;
  float: left;
  width: 234px;/*240px; adjust for 3px border*/
  height: 294px;/*300px; adjust for 3px border*/
  margin-top: 120px;
  background-color:lightcyan;
}


#Special1 {
  border: 3px solid #6AFFFF;
  float: left;
  width: 594px;/*600px; adjust for 3px border*/
  height: 244px;/*250px; adjust for 3px border*/
  margin-top: -100px;
  background-color: lightcyan;/*rgba(255,255,255,0);*/
}

#Special2 {
  border: 3px solid #6AFFFF;
  float: left;
  width: 234px;/*240px; adjust for 3px border*/
  height: 144px;/*150px; adjust for 3px border*/
  background-color: lightcyan;
}


.ColLeft {
  float: left;
  width: 120px;
  background-color: lightblue;
}

.ColMid {
  float: left;
  width: 600px;
  background-color: lightgreen;
}

.ColRight {
  float: left;
  width: 240px;
  background-color: lightpink;
}


.SingleColumn {
  float: left;
  width: 960px;
  background-color: #C0C0C0;
}



